{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link href="{% static "css/style.css" %}" rel="stylesheet" />
  </head>
  <body>
    <form action="">
      <div class="content">
        Array Size
        <span style="margin-left: 158px">
          <input type="number"/> <br /><br
        /></span>
        Numbers separated by a comma <input type="text" /> <br /><br />
        Average
        <span style="margin-left: 173px">
          <input type="number"/> <br /><br
        /></span>
        <input type="submit" />
      </div>
    </form>
  </body>
</html>
