{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link href="{% static "css/style.css" %}" rel="stylesheet" />
    <script src="{% static "scripts/script.js" %}""></script>
  </head>
  <body>
    <form action="result" onsubmit="return validateForm()" method="POST  {% csrf_token %}">
       <div class="content">
        Array Size
        <span style="margin-left: 200px;">
          <input type="number" id ="size" name ="size" required/> <br /><br/>
        </span>
        Numbers comma separated
        <input type="text" id = "array" name ="array" required/> <br /><br />
        Average
        <span style="margin-left: 230px;">
          <input type="number" id = "average" name ="average" required/> <br /><br/>
        </span>
        <input type="submit" class="button"/>
      </div>
    </form>
  </body>
</html>
